name: "CI - Build and test"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jackson-profile: ["jackson-1", "jackson-2"]
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Build and test with ${{ matrix.jackson-profile }}
        run: |
          mvn -ntp -B clean compile test -P ${{ matrix.jackson-profile }}
